<Alloy>
	<Window id="menu" >
		<View >
	
    <Button id="BackButton" onClick="toback" >Back</Button>
    <ImageView id="image"></ImageView>
    <TableView id="table">
    	<TableViewRow title="FavoriteList" class="bowl"></TableViewRow>
    	
    </TableView>
    </View> 
	
            
		
		
		
	
	</Window>
</Alloy>